body {
    background-image: linear-gradient(to right, #c5e1a566, #fff9c4a1);
    text-align: right;
}
/* start header */
.header {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    max-height: 70px;
    box-shadow: 0 14px 15px #00000080;
    border-radius: 40px;
}
@media (max-width:767px) {
    .header {
        width: calc(100% - 30px);
    }
    .header .image {
        display: none;
    }

    .header h2 {
        margin: 5px auto;
    }

    }


    .header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 15px;
        max-height: 72px;
    }

    @media (max-width:767px) {
        .header .container {
            justify-content: center;
        }
    }

.header h2 {
    color: var(--main-color);
    margin: 0;
    padding: 0;
}

.header .image h2 {
    padding-top: 27px;
    color: black;
}
/* end header */
/* start siction */
.siction {
    padding-top: 150px;
    bottom: 100px;
}

.siction h2 {
    width: fit-content;
    margin: 20px auto;
    border: 2px solid var(--main-color);
    padding: 10px 15px;
    position: relative;
    color: #5e635d;
    border-radius: 3px;
}

.siction .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.siction .container  .box {
    width: 600px;
    box-shadow: 0 14px 15px #0000002e;
    position: relative;
    margin-bottom: 40px;
    background-color: #fff;
    transition: .3s linear;
}

.siction .container  .box::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 0px;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s linear;
}


.siction .container  .box .tree {
    width: 100%;
    height: 250px;
}

.siction .container  .box:hover {
    transform: translateY(-10px);
}

.siction .container  .box:hover::before {
    width: 100%;
}

.siction  .container .box .info {
    padding: 0 10px;
    flex: 1;
    position: relative;
}

.siction  .container .box .info::before {
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    width: 2px;
    background-color: var(--main-color);
    height: 0px;
    transition: .3s linear;
}

.siction  .container .box .info::after {
    content: "";
    position: absolute;
    right: 0;
    top: -5px;
    width: 2px;
    background-color: var(--main-color);
    height: 0px;
    transition: .3s linear;
}
.siction  .container .box:hover .info::before,
.siction  .container .box:hover .info::after {
    height: 102%;
}

.siction  .container .box .item {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    padding: 6px;
}

.siction  .container .box .item p {
    color: #000;
    font-size: 22px;
}
.siction  .container .box .item {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.siction  .container .box .item img {
    width:40px;
    margin-left: 15px;
}

.siction   .box .item.one {
    border: none;
    padding: 10px;
}
.siction   .box .item.one h3 {
    font-size: 25px;
    margin: 0;
    padding: 0;
}
/* end  siction */